---
import Layout from "../layouts/Layout.astro";
import Productcard from "../components/Productcard.astro";
const data = await fetch("https://kea-alt-del.dk/t7/api/products").then((res) => res.json());
console.log(data);
---

<Layout>
  <h2>PRODUKTLISTE</h2>
  {data.map((element) => <Productcard data={element} />)}
</Layout>
