---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
import Productcard from "../components/Productcard.astro";
const data = await fetch("https://kea-alt-del.dk/t7/api/products").then((res) => res.json());
console.log(data);
---

<Layout>
  <Header />

  <main>
    <h2>PRODUKTLISTE</h2>
    <div class="productlist">
      {data.map((element) => <Productcard data={element} />)}
    </div>
  </main>
</Layout>
