<header class="mainNav">
  <a href="index.html">
    <h1>Fashion<span>R</span>Us</h1>
  </a>
  <nav>
    <a href="index.html">Categories</a>
    <a href="#">Brands</a>
    <a href="#">Seasons</a>
  </nav>
</header>
