---
import "../css/base.css";
import "../css/style.css";
import Header from "../components/header.astro";
const { classes } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>FashionRus</title>
  </head>
  <body class={classes}>
    <Header />
    <slot />
  </body>
</html>
